<main>
  <div class="container w-80">
    <h2 class=" crie fw-bold pb-5">Crie seu post</h2>
    <div class="row">
      <div class="form col-12">
        <%= simple_form_for(@post) do |f|  %>
        <%= f.input :title %>
        <%= f.input :banner %>
        <%= f.input :description %>
        <%= f.input :thumbnail %>
        <%= f.input :published %>
        <%= f.input :published_at %>

        <div class="py-3">
          <%= f.button :submit, class:"btn btn-outline-danger" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
